<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Personal Blog</title>
  <link rel="stylesheet" href="loading/loadstyle.css" type="text/css">
</head>
<body>
   <section class="loads">
    {{#each posts}}
      <article class="load">
       <h3>{{this.title}}</h3>
       </article>
    {{/each}}
 </section>
   <b>Processing...</b>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</body>
</html>
